.title{
    font-size: 25px;
    margin-top: 2%;
    font-weight: bold;    
    margin-left: 5%;
}

.button1{
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;

}

.desc{
    margin-top: 0.5%;
    font-size: 20px;
    margin-left: 5%;

}