h3{
    margin-top:2%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-weight: 520;
    font-size: 35px;
}

.btn1{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
    padding: 10px;

}

.l1{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 75%;
}

.l2{
    /* margin-top: 1%; */
    margin-bottom: 1%;
    margin-left: 5%;
    width: 70%;
    border-radius: 15px;
    /* box-shadow: 1px 2px 1px rgb(67, 67, 67); */
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.card-border{
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(70, 70, 70);
    border-radius: 30px;
}