h3{
    margin-top:1%;
    margin-bottom: 1%;
    font-weight: 520;
    font-size: 40px;
}

.btn1{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;

}

.l1{
    margin-top: 1%;
    margin-bottom: 0.3%;
    margin-left: 5%;
}

.l2{
    /* margin-top: 1%; */
    margin-bottom: 1%;
    margin-left: 5%;
}