<div>
  <nav class="px-3 items-center flex justify-between py-3 text-white">
    
    <div>
      <img class="h-7 bg-fixed" src="assets/task.png" alt="">
    </div>

    <ul class="flex font-sans justify-end text-xl space-x-10 font-light">

      <li></li>

      <li class="cursor-pointer hover:text-blue-500">
        <a routerLink = "/home" routerLinkActive = "active" ariaCurrentWhenActive="page">
          Home
        </a>
      </li>
      
      <li class="cursor-pointer hover:text-blue-500">
        <a routerLink = "/about" routerLinkActive = "active" ariaCurrentWhenActive="page">
          About
        </a>
      </li>

      <li class="cursor-pointer hover:text-blue-500">
        <a routerLink = "/contact" routerLinkActive = "active" ariaCurrentWhenActive="page">
          Contact
        </a>
      </li>

    </ul>
  </nav>
</div>


<router-outlet></router-outlet>