<form class="example-form">
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-fn" appearance="fill">    

        <span class="s1">
          <mat-label>First name</mat-label>
        </span>
        
        <input matInput>
      </mat-form-field></td>
    
    
      <td><mat-form-field class="example-ln" appearance="fill">

        <span class = "s2">
          <mat-label>Last Name</mat-label>
        </span>

        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <table class="example-mail" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        
        <span class = >
          <mat-label>Email</mat-label>
        </span>

        <input matInput>
      </mat-form-field></td>
    
    </tr></table>
  </form>
  