.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
.bug
{
    background-color: rgb(168, 203, 243);
    
}  

.span1
{
  margin:auto;
  font-size: 40px;
}
.span2
{
  margin:auto;
  font-size: 25px;
}