<div class="">
    <div class="text-3xl font-mono font-extrabold mt-14 px-5 py-5  text-center text-violet-600">
        <div class="mb-10 font-mono">
            Simply create any task or subtask.
        </div>
        
        <div class="text-2xl font-mono font-light mb-10">
            Manage, capture and edit your tasks from anywhere at any time
             from your mobile and computers.
        </div>
        
    
        <div class="mt-16 flex justify-items-center justify-center">
            
            <img src="assets/pfp.jpeg" alt="" class="rounded-full w-48 ">
    
        </div>
    
        <div class="mt-10 px-2 py-2 justify-center">
            <h3 class="text-4xl font-extrabold text-red-50">Harshal Shinde</h3>
            <h3 class="text-3xl font-semibold mt-5">DEVELOPER</h3>
        </div>

<div>

    <nav class="px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">

        <div class="text-white font-bold justify-center text-lg mt-8">
            Connect With Me
        </div>

        <div class="container flex flex-wrap items-center justify-center space-x-10 mt-6 mx-auto">

            <a href="https://www.instagram.com/jeonhrs_/" class="flex items-center">
            <img src="assets/instagram.png" class="h-6 mr-3 sm:h-9" alt="instagram" />
            <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Instagram</span> -->
            </a>

            <a href="https://www.linkedin.com/in/harshal-shinde-77a862210" class="flex items-center">
                <img src="assets/linkedin.png" class="h-6 mr-3 sm:h-9" alt="linkdin" />
            <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Instagram</span> -->
            </a>

            <a href="https://github.com/Harshal-7" class="flex items-center">
                <img src="assets/github.png" class="h-6 mr-3 sm:h-9" alt="github" />
                <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Instagram</span> -->
            </a>

        </div>
    </nav>
  
</div>
    
    </div>
</div>