@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    @responsive {
        .text-shadow {
          text-shadow: 0 2px 4px rgba(0,0,0,0.10);
        }
      
        .text-shadow-md {
          text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
        }
      
        .text-shadow-lg {
          text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
        }
      
        .text-shadow-none {
          text-shadow: none;
        }
      }
}

@font-face {
  font-family: 'alegreya';
  src: url('assets/Alegreya/static/Alegreya-Regular.ttf');
}
@font-face {
  font-family: 'allerta';
  src: url('assets/Allerta_Stencil/AllertaStencil-Regular.ttf');
}

@font-face {
  font-family: 'poiret';
  src: url('assets/Poiret_One/PoiretOne-Regular.ttf');
}
@font-face {
  font-family: 'lobster_bold';
  src: url('assets/Lobster_Two/LobsterTwo-Bold.ttf');
}
@font-face {
  font-family: 'lobster';
  src: url('assets/Lobster_Two/LobsterTwo-Regular.ttf');
}
@font-face {
  font-family: 'dongle';
  src: url('assets/Dongle/Dongle-Regular.ttf');
}