<div style="text-align: center;">
  <h2 class = "header"> Demonstration of Inbuild Pipes </h2>
  
  <!-- <h2> {{name}} </h2>
  <h2> {{name | lowercase}} </h2>
  <h2> {{name | uppercase}} </h2>
  <h2> {{name | titlecase}} </h2> -->
  <!-- <h2> {{name | slice : 8}} </h2>
  <h2> {{name | slice : 11 : 23}} </h2>
  <h2> {{name | slice : 0 : 10}} </h2> -->

  <!-- <h2> {{batches | json}} </h2> -->
  
  <!-- <h2>{{today}}</h2>
  <h2>{{today | date:'short'}}</h2>
  <h2>{{today | date:'shortDate'}}</h2>
  <h2>{{today | date:'shortTime'}}</h2>

  <h2>{{No}}</h2>
  <h2>{{No | number : '1.2-3'}}</h2>
  <h2>{{No | number : '3.4-5'}}</h2>
  <h2>{{No | number : '3.1-2'}}</h2> -->
<!-- 
  <h2>{{fees}}</h2>
  <h2>{{fees | currency}}</h2>
  <h2>{{fees | currency:'INR'}}</h2>
  <h2>{{fees | currency:'JPY'}}</h2> -->


  <h2>
    {{"Marvellous Pune" | demo : "PPA" : "Python" : "Angular"}}
  </h2>





</div>